@import './variables';

.home {
    
    
    h1 {
        width: 100%;
        color: $text-color;
        padding: 2em;
    }

    .bg-white {
        background: $background;
    }

    .img-max-width {
        width: 100%;
    }
}