@import './variables';

.home {
    
    
    h1 {
        width: 100%;
        color: $text-color;
        padding: 2em;
    }

    .bg-white {
        background: white;
    }
}

.img-content {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .home {
        h1 {
            margin: 5;
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        .featured-posts-container {
            flex-direction: column;
        }
    }
}