@import './home';
@import './navigation';
@import './variables';
@import './login';
@import './footer';

@font-face{
    font-family: 'Galanthia';
    src: url("../fonts/Galanthia/Galanthia-Regular.otf")
}

.galanthia {
    font-family: 'Galanthia';
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: $background;
    color: $text-color;
}
button {
    background-color: $text-link;
    color: $text-color-dark;
    border-radius: 10px;
}

hr {
    width: 750px;
}
.site-nav {
    background-color: rgb(255, 255, 255, 0.705);
    color: $text-color;
    backdrop-filter: blur(10px);
}
.dropbtn {
    color: $text-color;
}
.dropdown-content {
    background-color: rgb(255, 255, 255, 0.705);
    color: $text-color;
    backdrop-filter: blur(10px);
}
.dropdown-content a {
    color: $text-color;
}
a {
    color: $text-color;

    &:hover {
        color: $text-link;
    }
}
